


/* map */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

header, section, footer {
  padding: 0 0 0 300px;
}
section.map, #map {
  height: 100%;
}

@media only screen and (max-width : 992px) {
  header, section, footer {
    padding-left: 0;
  }
}
/**************info window *****************/

.location-info a{
color: black;

}
.location-info a{
  color: teal;

  }
.location-info a:hover {
  text-decoration: underline;

}

 /* ---------bottom button-------------- */
.fixed-action-btn {
  right: calc( 50% - 28px);
}

/********** side nav*********************/
.user-view {
  position: relative;
  height: 200px;
}
.user-view h1{
  margin-top: 0px;
  text-align: center;
}

.user-view{
 background: url(../assets/car.jpg);
 background-position-y: -100px;
 background-repeat: no-repeat;

}